<ion-view view-title="Playlist">
  <ion-content>
  <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>
  <ion-checkbox>Checkbox Label</ion-checkbox>
  <ion-radio ng-value="'A'">Choose A</ion-radio>
  <ion-radio ng-value="'B'">Choose B</ion-radio>
  <ion-radio ng-value="'C'">Choose C</ion-radio>
  <ion-toggle toggle-class="toggle-calm">Airplane Mode</ion-toggle>
    <ion-slide-box >
  <ion-slide>
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
  </ion-content>
</ion-view>
